<!DOCTYPE html>
<html>
  <head>
    <title> HTML form </title>
    <style>
      body{
            font-family: sans-serif;
          }
    </style>
  </head>
  <body>
    <form action="/form" method="post">
      <label for="ExibitForm">Choose Exibit</label> <br>
      <input type="radio" name="exibit" value="Alpha"> Alpha<br>
      <input type="radio" name="exibit" value="Bravo"> Bravo<br>
      <input type="radio" name="exibit" value="Charlie"> Charlie <br>
      <input type="radio" name="exibit" value="Delta"> Delta <br>
      <label for="Percentage">Percentage</label> <br>
      <input type="number" name="percentage" min=1 max="100"> <br>
      <label class="FormSpace" >Plan Options</label> <br>
      <select name="options">
        <option value="Option-A">Option-A</option>
        <option value="Option-B">Option-B</option>
      </select> <br>
      <label> Enter Bio </label> <br>
      <textarea id="EnterBio" name="entertext" rows="15" cols="35">
    </textarea>
       <br>
      <label>Choices</label> <br>
      <input type="checkbox" name="choices" value="a"> a <br>
      <input type="checkbox" name="choices" value="b"> b <br>
      <input type="checkbox" name="choices" value="c"> c <br>
      <input type="checkbox" name="choices" value="d"> d <br>
      <input type="checkbox" name="choices" value="e"> e <br>
      <label> Password</label> <br>
      <input name="password" type="password" >
      <!-- I specifically excluded the minimum length requirement because html5 doesn't have minlength attribute :(
    and I don't know javascript, enjoy the fox :) -->
      <input type="submit" value="Process Form">
      <h3> Heres a fox ;) </h3>
      <img  src="https://upload.wikimedia.org/wikipedia/commons/0/03/Vulpes_vulpes_laying_in_snow.jpg" alt="A red fox laying in the snow" width="300">
    </form>
  </body>
